---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="pomohorso">
	<main class="h-full p-4 lg:p-16 md:p-16">
		<Card>
		</Card>
	</main>
</Layout>

<style>
</style>
